* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(40, 55, 74);
  background-color: rgb(217, 217, 217);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* шапка сайта */
header {
  height: 72px;
  display: grid;
  grid-template-columns: 20% 1fr 10%;
  place-items: center center;
}

.header__logo {
  font-weight: 900;
  font-size: 2.2rem;
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.7),
    inset 2px 2px 2px 0 rgba(40, 55, 74, 1);
    border-radius: 10px;
    padding: 8px;
}
.header__info {
  transition: transform 0.2s;
}
.header__info:hover {
  padding: 6px;
  border-radius: 10px;
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.7),
    inset 2px 2px 2px 0 rgba(40, 55, 74, 1);
}

/* таблица */
table {
  width: calc(100% - 20px);
  max-width: 1400px;
  font-size: 1.4rem;
  margin: 20px auto;
  padding: 10px 20px 20px;
  border-radius: 10px;
  box-shadow: -6px -6px 6px 0 rgba(255, 255, 255, 1),
    6px 6px 8px 0 rgba(40, 55, 74, 0.8);
  border-collapse: collapse;
}

/* шапка таблицы */
th {
  font-size: 1.4rem;
  padding: 16px;
  color: rgb(217, 217, 217);
  background-color: rgb(40, 55, 74);
  vertical-align: middle;
  position: relative;
  user-select: none;
}
.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: rgb(217, 217, 217);
  cursor: col-resize;
  z-index: 1;
}

.resize-handle:hover {
  background-color: #888;
}
/* стили для основных ячеек и углов таблицы */
td {
  padding: 20px 15px;
  position: relative;
}
td:first-child,
th:first-child {
  border-left: none;
  border-radius: 10px 0px 0px;
}
td:last-child,
th:last-child {
  border-right: none;
  border-radius: 0px 10px 0px 0px;
}
tr {
  transition: transform 0.3s;
}
tr:hover {
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.7),
    inset 2px 2px 2px 0 rgba(40, 55, 74, 1);
  border-radius: 10px;
}
/* стили для выпадающего меню */
.firstName,
.lastName,
.maidenName,
.age,
.gender,
.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 105px;
  gap: 7px;
  margin: 0 auto;

  position: relative;
  list-style-type: none;
}
.firstName__menu,
.lastName__menu,
.maidenName__menu,
.gender__menu,
.phone__menu,
.age__menu {
  padding: 15px;
  margin: 20px;
  background-color: rgb(40, 55, 74);
  border-radius: 10px;
  color: rgb(217, 217, 217);
  box-shadow: 
    6px 6px 8px 0 rgba(40, 55, 74, 0.8);

  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 9999;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.gender__menu,
.phone__menu {
  width: 190px;
}
.firstName__menu--visible,
.lastName__menu--visible,
.maidenName__menu--visible,
.gender__menu--visible,
.age__menu--visible,
.phone__menu--visible {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* стили для иконки dropdown */
.firstName__icon,
.lastName__icon,
.maidenName__icon,
.gender__icon,
.age__icon,
.phone__icon {
  transform: none;
}
.firstName__icon--rotated,
.lastName__icon--rotated,
.maidenName__icon--rotated,
.gender__icon--rotated,
.age__icon--rotated,
.phone__icon--rotated {
  transform: rotate(180deg);
}
/* стилизация radio кнопок */
.sort {
  grid-area: sortInput;
  display: grid;
  grid-template-columns: 10% 78%;
  justify-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: 400;
}
.sort__input {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(40, 55, 74);
  border-radius: 50%;
  border: 1.4px solid rgb(217, 217, 217);
  transition: transform 0.2s, box-shadow 0.2s;
}
.sort__input:checked {
  background-color: rgb(217, 217, 217);
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.8),
    inset 2px 2px 3px 0 rgba(40, 55, 74, 0.8);
    border: none;
}
.sort__input:hover {
  background-color: rgb(217, 217, 217);
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.8),
    inset 2px 2px 3px 0 rgba(40, 55, 74, 0.8);
        border: none;

}
/* стилизация полей input и кнопок */
.search {
  display: flex;
  gap: 7px;
  margin-bottom: 20px;
}
.search__input {
  width: 140px;
  height: 35px;
  border: 1px solid rgb(40, 55, 74);
  border-radius: 10px;
  padding: 0px 12px;
  background-color: rgb(217, 217, 217);
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: rgb(40, 55, 74);
  transition: transform 0.2s, box-shadow 0.2s;
}
.search__input::placeholder {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(40, 55, 74);
  
}
.search__input:focus {
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.8),
    inset 2px 2px 3px 0 rgba(40, 55, 74, 0.8);
  border: none;
}
.search__input:hover {
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.8),
    inset 2px 2px 3px 0 rgba(40, 55, 74, 0.8);
  border: none;
}

.search__btn {
  background-color: rgb(40, 55, 74);
  width: 35px;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(217, 217, 217);
  transition: transform 0.2s, box-shadow 0.2s;
}
.search__btn:hover {
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px 0 rgba(0, 0, 0, 0.8);
    border: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="text"]::-webkit-clear-button {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* не найдено */
.notFoundUsers {
  height: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.5;
}
/* пагинация */
.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  color: rgb(40, 55, 74);
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 40px;
}
.pagination__page {
width: 25px;
height: 25px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
  box-shadow: inset -3px -3px 3px 0 rgba(255, 255, 255, 0.7),
    inset 2px 2px 2px 0 rgba(40, 55, 74, 1);
}
.pagination__page__link {
  text-decoration: none;
  color: rgb(40, 55, 74);
}
.pagination__page--active {
  border: 1.5px solid rgb(40, 55, 74);
  box-shadow: none;
}
/* модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
    width: 550px;
    min-height: 500px;
    border-radius: 10px;
    background-color:  rgb(217, 217, 217);
    color: rgb(40, 55, 74);
    margin: auto;
    box-shadow: -6px -6px 6px 0 rgba(255, 255, 255, 1),
    6px 6px 8px 0 rgba(40, 55, 74, 0.8);
    padding: 20px;
    transition: width 0.3 ease height 0.3 ease;
}
.modal__close {
    color: rgb(40, 55, 74);
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.modal__blank {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: 'img firstName firstName firstName'
  'img lastName lastName lastName'
  'img maidenName maidenName maidenName'
  'img numAge numHeight numWeight'
  'img age height weight'
  'phone numPhone numPhone numPhone'
  'email textEmail textEmail textEmail'
  'country textCountry textCountry textCountry'
  'state textState textState textState'
  'city textCity textCity textCity'
  'address textAddress textAddress textAddress'
  ;
  gap: 0px 20px;
  margin: 20px 10px;
  justify-content: flex-start;
  align-items: center;
}
.modal__blank__img {
    border-radius: 10px;
    border: 1px solid rgb(40, 55, 74);
    grid-area: img;
    margin-bottom: 20px;
}
.modal__blank__name--firstName,
.modal__blank__name--lastName,
.modal__blank__name--maidenName {
  font-weight: 900;
  font-size: 2.2rem;
}
.modal__blank__age--num,
.modal__blank__height--num,
.modal__blank__weight--num,
.modal__blank__phone,
.modal__blank__email,
.modal__blank__address,
.modal__blank__country,
.modal__blank__state,
.modal__blank__city {
  font-weight: 600;
  font-size: 1.6rem;
}
.modal__blank__age,
.modal__blank__height,
.modal__blank__weight {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.modal__blank__name--firstName{
grid-area: firstName;
}
.modal__blank__name--lastName{
grid-area: lastName;
}
.modal__blank__name--maidenName{
grid-area: maidenName;
}

.modal__blank__age--num{
grid-area: numAge;
}
.modal__blank__height--num{
grid-area: numHeight;
}
.modal__blank__weight--num{
grid-area: numWeight;
}

.modal__blank__age{
grid-area: age;
}
.modal__blank__height{
grid-area: height;
}
.modal__blank__weight{
grid-area: weight;
}
.modal__blank__phone{
grid-area: phone;
}
.modal__blank__email{
grid-area: email;
}
.modal__blank__address{
grid-area: address;
}
.modal__blank__country{
grid-area: country;
}
.modal__blank__state{
grid-area: state;
}
.modal__blank__city{
grid-area: city;
}
.modal__blank__phone--num{
grid-area: numPhone;
}
.modal__blank__email--text{
grid-area: textEmail;
}
.modal__blank__address--text{
grid-area: textAddress;
}
.modal__blank__country--text{
grid-area: textCountry;
}
.modal__blank__city--text{
grid-area: textCity;
}
.modal__blank__state--text{
grid-area: textState;
}

